net "AD[0]"		loc = M3 | iostandard = "pci33_3";
net "AD[1]"		loc = K1 | iostandard = "pci33_3";
net "AD[2]"		loc = M4 | iostandard = "pci33_3";
net "AD[3]"		loc = K2 | iostandard = "pci33_3";
net "AD[4]"		loc = M5 | iostandard = "pci33_3";
net "AD[5]"		loc = J1 | iostandard = "pci33_3";
net "AD[6]"		loc = L3 | iostandard = "pci33_3";
net "AD[7]"		loc = J2 | iostandard = "pci33_3";
net "AD[8]"		loc = H1 | iostandard = "pci33_3";
net "AD[9]"		loc = L5 | iostandard = "pci33_3";
net "AD[10]"	loc = G1 | iostandard = "pci33_3";
net "AD[11]"	loc = K3 | iostandard = "pci33_3";
net "AD[12]"	loc = G2 | iostandard = "pci33_3";
net "AD[13]"	loc = K4 | iostandard = "pci33_3";
net "AD[14]"	loc = F2 | iostandard = "pci33_3";
net "AD[15]"	loc = K5 | iostandard = "pci33_3";
net "AD[16]"	loc = G3 | iostandard = "pci33_3";
net "AD[17]"	loc = A4 | iostandard = "pci33_3";
net "AD[18]"	loc = G4 | iostandard = "pci33_3";
net "AD[19]"	loc = B4 | iostandard = "pci33_3";
net "AD[20]"	loc = G5 | iostandard = "pci33_3";
net "AD[21]"	loc = A5 | iostandard = "pci33_3";
net "AD[22]"	loc = F3 | iostandard = "pci33_3";
net "AD[23]"	loc = B5 | iostandard = "pci33_3";
net "AD[24]"	loc = F5 | iostandard = "pci33_3";
net "AD[25]"	loc = A7 | iostandard = "pci33_3";
net "AD[26]"	loc = E3 | iostandard = "pci33_3";
net "AD[27]"	loc = B7 | iostandard = "pci33_3";
net "AD[28]"	loc = E4 | iostandard = "pci33_3";
net "AD[29]"	loc = A8 | iostandard = "pci33_3";
net "AD[30]"	loc = D3 | iostandard = "pci33_3";
net "AD[31]"	loc = B8 | iostandard = "pci33_3";

net "CBE[0]"	loc = L4 | iostandard = "pci33_3";
net "CBE[1]"	loc = E1 | iostandard = "pci33_3";
net "CBE[2]"	loc = A3 | iostandard = "pci33_3";
net "CBE[3]"	loc = B6 | iostandard = "pci33_3";

net "FRAME"		loc = H5 | iostandard = "pci33_3";
net "IRDY"		loc = C2 | iostandard = "pci33_3";
net "TRDY"		loc = H4 | iostandard = "pci33_3";
net "DEVSEL"	loc = C1 | iostandard = "pci33_3";
net "STOP"		loc = J5 | iostandard = "pci33_3";
net "IDSEL"		loc = F4 | iostandard = "pci33_3";
net "clk" 		loc = A11 | iostandard = "lvttl" | period = 30 ns;
net "PAR" 		loc = J4 | iostandard = "pci33_3";
net "RST" 		loc = C3 | iostandard = "pci33_3";

net "Led"		loc = AA7 | iostandard = "lvttl";
net "LED6"		loc = AA10 | iostandard = "lvttl";